/mod_data/
/local/
/bivrik/
/downloads/
/modlist.html
/.mixin.out/
/minecraftinstance.json
/modernfix/
/logs/
/.idea/
/visual_keybinder/
/data/
/cosmetics/
/manifest.json
/.gitattributes
/.curseclient
/ops.json
/rhino.local.properties
/servers.dat
/servers.dat_old
/servers.essential.dat
/supportercache.json
/user-prefs.json
/usercache.json
/usernamecache.json
/whitelist.json
/.idea/
/.mixin.out/
/bivrik/
/caxton_cache/
